---
layout: default
---

<article role="article" class="post">
	<div class="post-meta">
    <h1>{{ page.title }}</h1>

    <div class="date">
      {%- if page.last_modified_at -%}
        Last updated: {{ page.last_modified_at | date: "%-d %B %Y" }}
      {%- else -%}
        Last updated: {{ page.date | date: "%-d %B %Y" }}
      {%- endif -%}
    </div>
	</div>

  {{ content }}

  <p>
    {% for tag in page.tags %}
      <a href="/tag/{{tag}}">#{{tag}}</a>
      {% unless forloop.last %} {% endunless %}
    {% endfor %}
  </p>

  <div class="date">
    Published:
    <time class="" datetime="{{ page.date | date_to_xmlschema }}">
      {{ page.date | date: "%-d %B %Y" }}
    </time>
  </div>

  <!-- <br> -->

  <p>
    Thanks for reading!
    For more,
    <a href="https://twitter.com/stef_coetzee">follow me</a> on Twitter.
  </p>

  <form name="mailing-list" method="POST" data-netlify="true">
    <p>
      <input type="email" name="email" placeholder="Email address" />
      <button type="submit">Subscribe</button>
    </p>
  </form>

  <hr style="height:2px; border:none; margin: 2rem 0; background-color:#e7e9ee;">

</article>


