---
layout: default
---

<article role="article" class="post">
	<div class="post-meta">
    <h1>{{ page.title }}</h1>

    <div class="date">
      {%- if page.last_modified_at -%}
        Last updated: {{ page.last_modified_at | date: "%-d %B %Y" }}
      {%- else -%}
        Last updated: {{ page.date | date: "%-d %B %Y" }}
      {%- endif -%}
    </div>
	</div>

  {{ content }}

  <p>Thanks for reading!</p>

  <p>
    {% for tag in page.tags %}
      <a href="/tag/{{tag}}">#{{tag}}</a>
      {% unless forloop.last %} {% endunless %}
    {% endfor %}
  </p>

  <div class="date">
    Published:
    <time class="" datetime="{{ page.date | date_to_xmlschema }}">
      {{ page.date | date: "%-d %B %Y" }}
    </time>
  </div>

  <!-- <br> -->

  <h3 style="margin-bottom: 0; font-weight: bold;">
    Join the mailing list
  </h3>

  <p style="margin-top: 0px; margin-bottom: 0;">
    Sign up to get new posts as they go live. 🚀
  </p>

  <form name="mailing-list" method="POST" data-netlify="true" action="/"
        style="margin-top: 0;">
    <input type="email" name="email" placeholder="Email address"
            style="font-family: inherit;
                   font-size: 1rem;
                   padding: 10px;
                   margin-right: 5px;
                   margin-top: 10px;" />
    <button class="btn-submit" type="submit"
            style="font-family: inherit;
                   font-weight: bold;
                   font-size: 1rem;
                   color: white;
                   padding: 10px;
                   margin-top: 8px;
                   background-color: #ef7d4d;
                   border: 2px solid #ef7d4d;
                   ">
      Subscribe
    </button>
  </form>

  <hr style="height:2px; border:none; margin: 2rem 0; background-color:#e7e9ee;">

</article>


